/* MARK: scrollbar
*/

::-webkit-scrollbar {
  width: var(--scrollbar);
  height: var(--scrollbar);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
}
::-webkit-scrollbar-thumb:active {
  background-color: light-dark(black, white);
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: var(--radius-S) 0 0 var(--radius-S);
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: var(--radius-S);
}

::-webkit-scrollbar-button {
  background: transparent;
  height: var(--padding-M);
  width: var(--padding-M);
}

::-webkit-scrollbar-button:vertical {
  height: var(--scrollbar);
}

::-webkit-scrollbar-button:horizontal {
  width: var(--scrollbar);
}

/* MARK: root
*/

:root {
  --font-main: "Inter Tight", "Arial", sans-serif;

  --padding-S: 10px;
  --padding-M: 20px;
  --padding-L: 40px;

  --padding-btn: 7.5px 10px;

  --radius-S: 10px;
  --radius-M: 15px;
  --radius-L: 30px;

  --anim-duration-S: 0.3s;
  --anim-duration-M: 0.6s;
  --anim-duration-L: 0.9s;

  --anim-type-main: ease;
  --anim-type-extra: ease-in-out;

  --3D-S: inset 0 3px 3px rgba(127, 127, 127, 0.1), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  --3D-M: inset 0 6px 6px rgba(127, 127, 127, 0.1), inset 0 -6px 6px rgba(0, 0, 0, 0.1);
  --3D-L: inset 0 12px 12px rgba(127, 127, 127, 0.1), inset 0 -12px 12px rgba(0, 0, 0, 0.1);

  --header: 70px;
  --footer: 60px;
  --navigate: calc(30px + var(--scrollbar));
  --tabs: calc(30px + var(--scrollbar));
  --scrollbar: 10px;
  --border: 2px;

  --window-color: light-dark(#ededed, #212121);
  --window-content-color: light-dark(color-mix(in oklab, var(--window-color), black 25%), color-mix(in oklab, var(--window-color), black 25%));
  --card-color: light-dark(white, black);
  --text-color-main: light-dark(black, white);
  --text-color-extra: light-dark(white, black);

  --management-color: #ff0000;
  --footer-button-color: light-dark(black, white);

  --border-color: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));

  --z-index-header_footer: 200;
  --z-index-management: 100;
  --z-index-popup: 100;

  --filter-popup: blur(11px) brightness(0.5);
  --filter-shadow: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));

  --shadow-about: 0 6px 6px rgba(0, 0, 0, 0.2);
  --shadow-header_footer: 0 6px 6px rgba(0, 0, 0, 0.1);
  --shadow-navigate: 0 -6px 6px rgba(0, 0, 0, 0.3);

  --unhover-opacity: 0.3;

  --donut-1: light-dark(#259218, #95eb8b);
  --donut-2: light-dark(#990099, #ff99ff);
  --donut-3: light-dark(#cc6700, #ffb366);
  --donut-1-note: "1 Уровень (Ягодень Стартовый)";
  --donut-2-note: "2 Уровень (Ягодень Стандарт)";
  --donut-3-note: "3 Уровень (Ягодень Премиум)";

  --status-color: light-dark(#6666ff, #9999ff);
  --watch-color: SteelBlue;
  --tracking-color: IndianRed;
  --slot-color: #808080;

  --episode-color: light-dark(white, black);

  color-scheme: light dark;
}

/* MARK: basic
*/

html {
  background-color: black;
  font-family: var(--font-main);
  user-select: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  margin: unset;
  padding: unset;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}

img[src=""] {
  position: relative;
  background-color: var(--card-color);
  background-position: center 80%;
  background-size: 50%;
  background-repeat: no-repeat;
}

a {
  all: unset;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.vk {
  background-color: #0077ff !important;
  color: white;
}

.boosty {
  background-color: #ff6600 !important;
  color: white;
}

.note,
.window[id="orders"] > .content::before {
  display: block;
  width: fit-content;
  max-width: 80%;
  padding: var(--padding-btn);
  box-sizing: border-box;
  justify-self: center;
  inset-inline: 0;
  margin-inline: auto;

  color: var(--text-color-main);
  text-align: center;

  background-color: var(--card-color);
  border-radius: var(--radius-S);
  border: var(--border) var(--border-color) solid;

  & > a {
    color: #0077ff;
  }
}

.window[id="orders"] > .content::before {
  display: block;
  content: attr(data-update-was);
}

/* MARK: хардкокдинг-фикс для светлой-тёмной темы
*/
body[data-theme="light"] {
  img[src=""] {
    background-image: url("https://static.tildacdn.com/tild3531-3937-4666-b037-626466353166/icon.svg");
  }
  .window {
    .setup.scheme-select button {
      background-image: url("https://static.tildacdn.com/tild6239-6561-4332-b566-363364306331/icon.svg");
    }

    .header .element {
      &.streaming::after {
        background-image: url("https://static.tildacdn.com/tild3139-3436-4532-a135-653131663465/icon.svg");
      }
      &.tracking::after {
        background-image: url("https://static.tildacdn.com/tild3764-6137-4936-a536-316565333836/icon.svg");
      }
    }
  }

  .popup > .project .content .season .episodes .episode .group:last-child .donut:is(.donut-1, .donut-2, .donut-3)::after {
    background-image: url("https://static.tildacdn.com/tild3832-6430-4166-b535-366631303132/icon.svg");
  }
}
body[data-theme="dark"] {
  img[src=""] {
    background-image: url("https://static.tildacdn.com/tild3566-3161-4061-b064-643066653133/icon.svg");
  }
  .window {
    .setup.scheme-select button {
      background-image: url("https://static.tildacdn.com/tild6566-3062-4237-b234-333862613631/icon.svg");
    }

    .header .element {
      &.streaming::after {
        background-image: url("https://static.tildacdn.com/tild6531-3931-4438-b538-353132306438/icon.svg");
      }
      &.tracking::after {
        background-image: url("https://static.tildacdn.com/tild3339-6263-4738-b766-663737393037/icon.svg");
      }
    }
  }

  .popup > .project .content .season .episodes .episode .group:last-child .donut:is(.donut-1, .donut-2, .donut-3)::after {
    background-image: url("https://static.tildacdn.com/tild6636-6463-4530-a361-356439366331/icon.svg");
  }
}

/* MARK: window
*/

.window {
  display: block;
  position: absolute;
  top: var(--padding-S);
  justify-self: center;

  inset-inline: 0;
  margin-inline: auto;

  height: calc(100vh - (var(--padding-S) * 2));
  height: calc(100dvh - (var(--padding-S) * 2));
  max-width: calc(100vw - (var(--padding-S) * 2));
  padding-top: calc(var(--header) + var(--navigate));
  padding-bottom: calc(var(--footer) + var(--tabs));
  border-radius: var(--radius-L);
  border-bottom-left-radius: var(--radius-S);
  box-sizing: border-box;

  background-color: var(--window-color);
  overflow: hidden;
  filter: var(--filter-shadow);

  &.ar4x3 {
    aspect-ratio: 4/3;
    --cards-count: 3;
  }
  &.ar16x9 {
    aspect-ratio: 16/9;
    --cards-count: 4;
  }
  &.ar21x9 {
    aspect-ratio: 21/9;
    --cards-count: 5;
  }

  & > .setup {
    z-index: calc(var(--z-index-header_footer) + 50);
    position: absolute;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: var(--padding-S);
    button {
      all: unset;
      color: var(--text-color-main);
      text-align: center;
      opacity: 0.5;

      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }

    &.ratio-select {
      right: 20px;
      bottom: 15px;
    }

    &.scheme-select {
      left: 10px;
      bottom: 10px;
      button {
        height: 30px;
        aspect-ratio: 1/1;
      }
    }
  }

  &:not(:has(.management.navigate)) {
    padding-top: var(--header);
  }
  &:not(:has(.management.tabs)) {
    padding-top: var(--footer);
  }

  &::after {
    z-index: calc(var(--z-index-header_footer) * 1.5);
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: var(--3D-L);
    pointer-events: none;
  }

  /* MARK: window > header
*/

  .header {
    z-index: var(--z-index-header_footer);
    position: absolute;
    top: 0;
    height: var(--header);
    width: 100%;
    padding: var(--padding-S);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-S);

    background-color: var(--window-color);
    box-shadow: var(--shadow-header_footer);

    &:has(.element:only-child) {
      justify-content: center;
    }

    .element {
      position: relative;
      display: block;
      height: 100%;
      min-width: calc(var(--header) - (var(--padding-S) * 2));

      overflow: hidden;
      aspect-ratio: 1/1;

      cursor: pointer;

      &:nth-child(2) {
        aspect-ratio: unset;
        width: min(250px, calc(100% - (80px + (var(--padding-S) * 2) * 2)));
      }

      &:not(.searching)::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        transition: transform var(--anim-duration-S) var(--anim-type-main);
      }

      &.streaming {
        &::after {
          background-size: 96%;
          background-position: center;
        }
        @media (hover: hover) {
          &:hover::after {
            transform: rotate(9deg);
          }
        }
        &.online::after {
          animation: online var(--anim-duration-L) var(--anim-type-extra) infinite alternate;
        }
      }
      &.tracking {
        &::after {
          background-size: 94%;
          background-position: center;
        }
        @media (hover: hover) {
          &:hover::after {
            transform: rotate(-9deg);
          }
        }
      }
      &.searching {
        aspect-ratio: unset;
        background-color: transparent;
        opacity: var(--unhover-opacity);
        transition: opacity var(--anim-duration-S) var(--anim-type-main);
        input {
          all: unset;
          width: 100%;
          height: 100%;
          padding: var(--padding-S);
          box-sizing: border-box;
          background-color: unset;

          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          color: var(--text-color-main);

          /* Отключает крестик очистки в Chrome, Safari, Edge
*/
          &[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
          }

          &::placeholder {
            color: var(--text-color-main);
          }
          &:focus::placeholder {
            color: transparent;
          }
        }

        @media (hover: hover) {
          &:hover {
            opacity: 1;
          }
        }

        &:has(input:focus) {
          opacity: 1;
        }
      }
    }
  }

  &:has(.management.navigate) .header {
    box-shadow: unset;
  }

  &:has(.popup.open) {
    .management {
      opacity: 0;
      pointer-events: none;
    }
    .header {
      box-shadow: var(--shadow-header_footer);
      border-bottom: var(--border-color) var(--border) solid;
      height: calc(var(--header) + var(--border));
    }
    .footer {
      height: calc(var(--footer) + var(--border));
    }
  }

  /* MARK: window > footer
*/

  .footer {
    z-index: var(--z-index-header_footer);
    position: absolute;
    bottom: 0;
    height: var(--footer);
    width: 100%;
    padding: var(--padding-S);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--window-color);

    a {
      all: unset;
      height: 100%;
      min-width: 0;
      max-width: calc(30%);
      padding: var(--padding-btn);
      border-radius: var(--radius-S);
      box-sizing: border-box;

      background-color: var(--footer-button-color);
      border: var(--border) var(--footer-button-color) solid;

      font-size: clamp(8px, 4cqw, 16px);
      text-align: center;
      align-content: center;
      text-transform: uppercase;
      white-space: nowrap;
      color: var(--text-color-extra);

      transition:
        background-color var(--anim-duration-S) var(--anim-type-main),
        color var(--anim-duration-S) var(--anim-type-main);

      cursor: pointer;

      &.current {
        pointer-events: none;
        background-color: transparent;
        color: var(--text-color-main);
      }
      @media (hover: hover) {
        &:hover {
          background-color: transparent;
          color: var(--text-color-main);
        }
      }
    }
  }
  &:has(.popup.open) .footer {
    border-top: var(--border-color) var(--border) solid;
  }

  /* MARK: window > management
*/

  .management {
    z-index: var(--z-index-management);
    position: absolute;

    width: 100%;

    padding: 0 var(--padding-M);
    box-sizing: border-box;

    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    justify-content: safe center;
    align-items: center;
    gap: var(--padding-S);

    background-color: var(--window-color);

    opacity: var(--unhover-opacity);
    transition: opacity var(--anim-duration-S) var(--anim-type-main);

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    button {
      all: unset;
      box-sizing: border-box;

      display: inline-flex;
      align-items: center;

      border-bottom: 2px transparent solid;

      font-size: 14px;
      text-transform: uppercase;
      color: var(--text-color-main);

      transition: color var(--anim-duration-S) var(--anim-type-main);

      cursor: pointer;

      &.current {
        border-bottom: 2px var(--management-color) solid;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--management-color);
        }
      }
    }

    &.navigate {
      top: var(--header);
      height: var(--navigate);

      transform: rotateX(180deg);
      box-shadow: var(--shadow-navigate);

      button {
        transform: rotateX(180deg);
        align-content: center;
        text-wrap: nowrap;

        &:only-child {
          display: none;
        }

        &:is(.year, .en, .ru)::before {
          text-transform: uppercase;
          color: var(--text-color-main);
          margin-right: var(--padding-S);
        }

        &.year::before {
          content: attr(data-year);
          font-size: 0.8em;
        }
        &.en::before {
          content: "Англ";
          font-size: 0.75em;
        }
        &.ru::before {
          content: "Рус";
          font-size: 0.75em;
        }
      }
    }

    &.tabs {
      bottom: var(--footer);
      height: var(--tabs);

      .section {
        display: flex;
        flex-direction: row;
        gap: var(--padding-S);
        color: var(--text-color-main);

        & + &::before {
          content: "×";
          align-self: center;
          font-family: Arial, sans-serif;
        }

        button {
          height: fit-content;
          box-sizing: border-box;

          border-bottom: 2px transparent solid;

          font-size: 14px;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;

          transition: color var(--anim-duration-S) var(--anim-type-main);

          cursor: pointer;
          opacity: 1;

          &.current {
            border-bottom: 2px var(--management-color) solid;
          }

          @media (hover: hover) {
            &:hover {
              color: var(--management-color);
            }
          }
        }
      }
    }
  }

  /* MARK: window > content
*/

  & > .content {
    width: 100%;
    height: 100%;
    padding: var(--padding-S);
    padding-left: calc(var(--padding-S) + var(--scrollbar));
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;

    border: var(--border) rgba(255, 255, 255, 0.1) solid;
    border-left: unset;
    border-right: unset;
    background-color: var(--window-content-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--padding-S);

    .window:has(.popup.open) & {
      border: unset;
    }

    /* MARK: content > details
*/
    & > details {
      width: 100%;
      padding-top: var(--padding-S);
      box-sizing: border-box;

      &:open {
        margin-bottom: var(--padding-L);
        summary {
          text-decoration: underline;
        }
      }

      .cards + & {
        margin-top: calc(var(--padding-L) - var(--padding-S));
      }

      summary {
        list-style: none;
        justify-self: center;
        text-align: center;

        cursor: pointer;

        font-size: 16px;
        color: var(--text-color-main);
        text-decoration: none;
        text-transform: uppercase;
      }
      summary::-webkit-details-marker {
        display: none;
      }
      .cards .title {
        margin-top: var(--padding-S);
      }
    }

    /* MARK: content > page
*/

    & > .page {
      display: flex;
      flex-direction: column;
    }
  }

  /* MARK: window > popup
*/

  .popup {
    z-index: var(--z-index-popup);
    display: none;
    position: absolute;
    top: calc(var(--header) + var(--border));

    width: 100%;
    height: calc(100% - ((var(--header) + var(--border)) + (var(--footer) + var(--border))));
    box-sizing: border-box;
    outline: var(--border-color) var(--border) solid;

    background-color: var(--window-content-color);
    overflow: hidden;

    &[id="popup-Amusement-Poker"] > .project .about {
      display: none;
    }

    &.open {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & ~ .popup.open {
        z-index: calc(var(--z-index-popup) + 10);
        & ~ .popup.open {
          z-index: calc(var(--z-index-popup) + 20);
        }
      }
    }

    .close {
      all: unset;
      z-index: 1;
      position: absolute;
      bottom: calc(var(--border) * -1);
      align-self: center;

      padding: var(--padding-btn);
      box-sizing: border-box;

      background-color: var(--window-color);
      border-radius: var(--radius-S) var(--radius-S) 0 0;

      border: var(--border-color) var(--border) solid;

      text-transform: uppercase;
      font-size: 14px;
      color: var(--text-color-main);

      transition:
        background-color var(--anim-duration-S) var(--anim-type-main),
        color var(--anim-duration-S) var(--anim-type-main);

      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          background-color: var(--footer-button-color);
          color: var(--text-color-extra);
        }
      }
    }

    /* MARK: popup > project
		*/

    & > .project {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      background-size: 0;

      &::before {
        content: "";
        z-index: -1;
        display: block;
        position: absolute;
        width: 110%;
        height: 110%;
        inset: -5%;

        background-image: inherit;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        -webkit-filter: var(--filter-popup);
        filter: var(--filter-popup);
      }

      &[id^="Series-"] .about .simple.status::before {
        content: "Просмотрено: ";
      }
      &[id^="Fullmeter-"] .about .simple.status::before {
        content: unset;
      }
      &[id^="Literary-"] .about .simple.status::before {
        content: "Прочитано: ";
      }
      &[id^="Amusement-Games_"] .about .simple.status::before {
        content: "Наиграно: ";
      }

      /* MARK: project > about
*/

      .about {
        position: relative;
        width: 100%;
        padding: var(--padding-M);
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow-about);
        pointer-events: none;

        &::before {
          content: "";
          z-index: -1;
          display: block;
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background-color: var(--card-color);
          opacity: 0.8;
        }

        & > * {
          margin-bottom: var(--padding-S);
          text-align: center;
          color: var(--text-color-main);

          &:last-child,
          &:only-child {
            margin-bottom: unset !important;
          }
          &:has(+ .donut:not(.donut-1, .donut-2, .donut-3)) {
            margin-bottom: 0 !important;
          }

          &:empty:not(.donut) {
            display: none;
          }
        }

        /* MARK: about > name-ru
*/

        .name-ru {
          font-size: 19px;
          color: var(--text-color-main);
        }
        .name-en {
          font-size: 16px;
          color: var(--text-color-main);
        }

        &:has(.name-ru + .name-en) .name-ru {
          margin-bottom: 2.5px;
        }
        &:has(.name-ru + .name-en:empty) .name-ru {
          margin-bottom: var(--padding-S);
        }

        /* MARK: about > status
*/

        .status {
          font-size: 14px;
          text-transform: uppercase;
          color: var(--status-color);
          &::before {
            content: "Просмотрено: ";
          }
          &:empty {
            display: none;
          }
        }

        /* MARK: about > donut
*/

        .donut {
          white-space: pre-wrap;
          &:not(.donut-1, .donut-2, .donut-3) {
            display: none !important;
          }
          &::before {
            content: "Потребуется минимум ";
          }

          &.donut-1 {
            color: var(--donut-1);
            &::after {
              content: var(--donut-1-note);
            }
          }

          &.donut-2 {
            color: var(--donut-2);
            &::after {
              content: var(--donut-2-note);
            }
          }
          &.donut-3 {
            color: var(--donut-3);
            &::after {
              content: var(--donut-3-note);
            }
          }
        }
      }

      /* MARK: project > content
*/

      .content {
        width: 100%;
        padding-left: var(--scrollbar);
        padding-bottom: 55px;
        box-sizing: border-box;

        overflow-x: hidden;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;

        -webkit-mask-image: linear-gradient(to bottom, black calc(100% - (14px + (7.5px * 2) + var(--padding-M))), transparent 100%);
        mask-image: linear-gradient(to bottom, black calc(100% - (14px + (7.5px * 2) + var(--padding-M))), transparent 100%);

        .season {
          width: 100%;
          padding: 0 var(--padding-S);
          box-sizing: border-box;

          display: flex;
          flex-direction: column;

          &:first-child > .title {
            margin-top: calc(var(--padding-M) * -1);
          }

          &:not(:has(.title)) {
            margin-top: var(--padding-M);
          }

          & > .title {
            display: block;
            width: 100%;
            padding: var(--padding-S);
            box-sizing: border-box;

            text-align: center;
            font-size: 24px;
            color: white;

            &:empty {
              display: none;
            }
          }
          & > details {
            width: 100%;

            summary {
              text-align: center;
              font-size: 24px;
              color: white;

              padding: var(--padding-S);
              box-sizing: border-box;

              cursor: pointer;
              list-style: none;
            }
            summary::-webkit-details-marker {
              display: none;
            }
          }

          .episodes {
            display: grid;
            grid-template-columns: fit-content(100%);
            container-type: inline-size;
            gap: var(--padding-S);
            justify-content: center;

            &:empty {
              display: none;
            }

            .episode {
              padding: var(--padding-S);
              box-sizing: border-box;
              background-color: var(--episode-color);
              border-radius: calc(var(--radius-S) + var(--padding-S));

              min-width: 440px;
              width: 100%;

              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: var(--padding-M);

              border: var(--border) var(--border-color) solid;

              &.lost {
                .group:first-child .name::after {
                  content: " (Утеряно)";
                }
                .group:last-child {
                  display: none;
                }
              }

              .group {
                height: fit-content;
                &:first-child {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  margin-left: 5px;
                  height: fit-content;

                  & > * {
                    color: var(--text-color-main);
                    pointer-events: none;
                  }

                  .name {
                    align-content: center;
                    font-size: 16px;
                    text-align: left;
                  }
                  .date {
                    font-size: 14px;
                    opacity: 0.75;
                    &::before {
                      content: "Стрим был ";
                    }
                    &:empty {
                      display: none;
                    }
                  }
                }

                &:last-child {
                  display: flex;
                  flex-direction: row;
                  gap: var(--padding-S);
                  height: 100%;

                  a,
                  button {
                    all: unset;
                    padding: var(--padding-btn);
                    box-sizing: border-box;
                    border-radius: var(--radius-S);
                    align-content: center;

                    background-color: gray;

                    text-transform: uppercase;
                    font-size: 14px;
                    text-align: center;
                    color: var(--text-color-extra);

                    transition: color var(--anim-duration-S) var(--anim-type-main);
                    cursor: pointer;

                    @media (hover: hover) {
                      &:hover {
                        color: var(--text-color-main);
                      }
                    }
                    &:active {
                      color: var(--text-color-extra);
                    }
                  }

                  & > button:enabled,
                  & > a:not([disabled]) {
                    display: block;
                  }
                  & > button:disabled,
                  & > a[disabled] {
                    display: none;
                  }

                  .donut {
                    order: -1;
                    padding: 2px;
                    min-height: 22px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    pointer-events: none;
                    border-radius: var(--radius-S);
                    box-sizing: border-box;

                    color: var(--text-color-extra);
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 20px;

                    &:not(.donut-1, .donut-2, .donut-3) {
                      display: none;
                    }
                    &:is(.donut-1, .donut-2, .donut-3)::after {
                      content: "";
                      height: 100%;
                      min-height: inherit;
                      aspect-ratio: 1/1;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: 100%;
                    }
                    &:is(.donut-1, .donut-2, .donut-3)::before {
                      margin-left: 6px;
                      margin-right: 3px;
                    }

                    &.donut-1 {
                      background-color: var(--donut-1);
                      &::before {
                        content: "1";
                      }
                    }
                    &.donut-2 {
                      background-color: var(--donut-2);
                      &::before {
                        content: "2";
                      }
                    }
                    &.donut-3 {
                      background-color: var(--donut-3);
                      &::before {
                        content: "3";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* MARK: popup > results
*/

    & > .content {
      padding: var(--padding-S);
      padding-left: calc(var(--scrollbar) + var(--padding-S));
      padding-bottom: var(--padding-L);
      box-sizing: border-box;
      width: 100%;
      min-height: 0;

      overflow-x: hidden;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--padding-S);

      -webkit-mask-image: linear-gradient(to bottom, black calc(100% - var(--padding-L)), transparent 100%);
      mask-image: linear-gradient(to bottom, black calc(100% - var(--padding-L)), transparent 100%);

      .more {
        all: unset;
        width: fit-content;
        background-color: var(--footer-button-color);
        padding: var(--padding-btn);
        margin: var(--padding-S);
        box-sizing: border-box;

        border-radius: var(--radius-S);

        color: var(--text-color-extra);

        transition:
          background-color var(--anim-duration-S) var(--anim-type-main),
          color var(--anim-duration-S) var(--anim-type-main);

        cursor: pointer;

        @media (hover: hover) {
          &:hover {
            background-color: var(--text-color-extra);
            color: var(--footer-button-color);
          }
        }
      }

      &:has(> iframe) {
        container-type: size;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 80px 20px;
        overflow: hidden;
      }

      & > iframe {
        all: unset;
        display: block;
        box-sizing: border-box;
        width: min(100%, calc(100cqh * (16 / 9)));
        aspect-ratio: 16 / 9;
        height: auto;

        border-radius: var(--radius-M);
        background-color: var(--card-color);
      }
    }

    & > .random {
      all: unset;
      width: fit-content;
      background-color: var(--footer-button-color);
      padding: var(--padding-btn);
      margin: var(--padding-S);
      box-sizing: border-box;

      border-radius: var(--radius-S);

      color: var(--text-color-extra);

      transition:
        background-color var(--anim-duration-S) var(--anim-type-main),
        color var(--anim-duration-S) var(--anim-type-main);

      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          background-color: var(--text-color-extra);
          color: var(--footer-button-color);
        }
      }

      &:active {
        background-color: var(--footer-button-color);
        color: var(--text-color-extra);
      }
    }
  }
}

/* MARK: cards
*/

.cards {
  display: block;
  position: relative;

  width: 100%;
  height: auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: var(--padding-M);

  &:has(.title) .title:first-child {
    margin-bottom: calc((var(--padding-M) / 2) * -1);
  }

  &:empty {
    display: none;
  }

  & > .title {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-main);
    opacity: 0.75;
  }

  /* MARK: cards > card
*/

  .card {
    position: relative;
    flex-shrink: 0;
    width: calc((100% - ((var(--cards-count) - 1) * var(--padding-M))) / var(--cards-count));
    height: auto;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);

    & > *:not(:last-child) {
      padding-bottom: unset !important;
    }

    &[id^="Series-"] .info {
      .simple.status::before {
        content: "Просмотрено: ";
      }
      .group .watch::after {
        content: " эпизоды";
      }
    }
    &[id^="Fullmeter-"] .info {
      .group .watch::after {
        content: " сборник";
      }
    }
    &[id^="Literary-"] .info {
      .simple.status::before {
        content: "Прочитано: ";
      }
      .group .watch::after {
        content: " главы";
      }
    }
    &[id^="Amusement-Games_"] .info {
      .simple.status::before {
        content: "Наиграно: ";
      }
      .group .watch::after {
        content: " прохождение";
      }
    }
    &[id^="Amusement-YouTube_"] .info .group .watch::after {
      content: " реакции";
    }
    &[id^="Amusement-TV-shows_"] .info .group .watch::after {
      content: " эпизоды";
    }

    &:is([id$="Anime_Shingeki-no-Kyojin"], [id$="Anime_Mushoku-Tensei"], [id$="Anime_Ishuzoku-Reviewers"]) .info::after {
      content: "Недоступно" !important;
    }
    &:is([id$="Anime_Shingeki-no-Kyojin"]) .info {
      &::after {
        content: "Совсем недоступно" !important;
      }
      .group {
        display: none !important;
      }
    }

    &:is([id$="Anime_Gundam-UNIVERSAL-CENTURY"], [id$="Anime_Gundam-COSMIC-ERA"], [id$="Anime_Gundam-ANNO-DOMINI"], [id$="Anime_Gundam-FUTURE-CENTURY"], [id$="Anime_Gundam-AFTER-COLONY"], [id$="Anime_Gundam-AD-STELLA"], [id$="Anime_Gundam-POST-DISASTER"]) .info .group .watch::after {
      content: " сборник";
    }

    .info {
      width: 100%;
      flex-grow: 1;
      padding: var(--padding-S);
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      border: 2px transparent solid;
      border-top: unset;
      border-radius: inherit;

      & > * {
        text-align: center;
        margin-bottom: var(--padding-S);
        &:last-child,
        &:only-child {
          margin-bottom: unset !important;
        }
        &:empty:not(.donut) {
          display: none;
        }
        & > *:not(.group) {
          pointer-events: none;
        }
      }

      &:has(.name-ru + .name-en) .name-ru {
        margin-bottom: 2.5px;
      }
      &:has(.name-ru + .name-en:empty) .name-ru {
        margin-bottom: var(--padding-S);
      }

      .name-ru {
        font-size: 19px;
        color: var(--text-color-main);
      }
      .name-en {
        font-size: 16px;
        margin-bottom: var(--padding-S);
        color: var(--text-color-main);
        opacity: 0.5;
      }

      .simple {
        text-transform: uppercase;

        &.status {
          font-size: 13px;
          color: var(--status-color);
        }
        &.donut {
          font-size: 13px;
        }
      }

      .group {
        width: 100%;
        margin-top: auto;

        display: flex;
        flex-direction: column;
        gap: 5px;

        a,
        button {
          all: unset;
          width: 100%;
          padding: 5px;
          box-sizing: border-box;
          border-radius: var(--radius-S);

          transition: color var(--anim-duration-S) var(--anim-type-main);

          text-transform: uppercase;
          font-size: 14px;
          text-align: center;
          color: var(--text-color-extra);

          cursor: pointer;

          &.link.vk::after {
            content: " в ВК";
          }
          &.link.boosty::after {
            content: " на Бусти";
          }
          @media (hover: hover) {
            &:hover {
              color: var(--text-color-main);
            }
          }
          &:active {
            color: var(--text-color-extra);
          }
        }
      }
    }

    /* MARK: card project
		*/

    &.project {
      position: relative;
      border-radius: 0 0 var(--radius-M) var(--radius-M);
      img {
        aspect-ratio: 2/1;
        width: 100.5%;
        object-fit: cover;
        object-position: center;

        border-radius: 0;
        pointer-events: none;
      }

      &.lost {
        pointer-events: none;
        &::after {
          z-index: 1;
          content: "";

          top: 0px;
          display: block;
          position: absolute;
          width: calc(100% + 10px);
          aspect-ratio: 2/1;

          -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
        }

        .info {
          &::after {
            content: "Утеряно";
            display: block;
            position: relative;

            text-align: center;
            font-size: 20px;
            color: red;
            text-transform: uppercase;
          }
          .group {
            display: none;
          }
        }
      }

      .info {
        .simple.donut {
          white-space: pre-wrap;

          &:not(.donut-1, .donut-2, .donut-3) {
            display: none !important;
          }
          &::after {
            content: " и выше";
          }

          &.donut-1 {
            color: var(--donut-1);
            &::before {
              content: var(--donut-1-note);
            }
          }
          &.donut-2 {
            color: var(--donut-2);
            &::before {
              content: var(--donut-2-note);
            }
          }
          &.donut-3 {
            color: var(--donut-3);
            &::before {
              content: var(--donut-3-note);
            }
          }
        }
        .group {
          & > button:enabled,
          & > a:not([disabled]) {
            display: block;
          }
          & > button:disabled,
          & > a[disabled] {
            display: none;
          }

          .watch {
            background-color: var(--watch-color);
          }
          .favorite {
            background-color: var(--tracking-color);
            &::after {
              content: "Добавить в избранное";
            }
            &.tracked::after {
              content: "Убрать из избранного";
            }
          }
        }
      }
    }

    /* MARK: card order
		*/

    &.order {
      border-radius: var(--radius-M);
      background-repeat: no-repeat;
      .info {
        flex-grow: unset;
        .simple.status {
          text-transform: none;
          font-size: 16px;
        }
        .group {
          margin-top: unset;
          .favorite {
            background-color: var(--tracking-color);
            &::after {
              content: "Отслеживать заказ";
            }
            &.tracked::after {
              content: "Прекратить отслеживать";
            }
          }
        }
      }

      .slots {
        width: 100%;
        padding: var(--padding-S);
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        gap: 5px;

        &:has(.slot > *:empty) {
          display: none;
        }

        .slot {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          gap: var(--padding-S);

          background-color: var(--slot-color);
          border-radius: var(--radius-S);
          box-sizing: border-box;

          &.listed {
            opacity: 0.5;
          }
          &.unlisted {
            opacity: 0.5;
            background-color: transparent;
            border: var(--border) var(--slot-color) dashed;
            & > * {
              color: var(--slot-color);
            }
          }

          & > * {
            width: calc((100% - (2 * var(--padding-S))) / 3);

            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--text-color-extra);
          }

          .count::before {
            content: "Слотов: ";
            white-space: pre-wrap;
          }
          .name {
            word-break: break-all;
          }
        }
      }

      &:not([id]) {
        .info .simple {
          margin-bottom: unset;
        }

        .info .group {
          display: none;
        }
      }
    }

    /* MARK: card order swap
		*/

    &.swap {
      .info {
        &::before {
          display: block;
          width: 100%;
          margin-bottom: var(--padding-S);
          text-align: center;
          color: red;
          text-transform: uppercase;
        }

        &:first-child > .status {
          color: red;
        }
        & + .info:not(:nth-child(2), :last-child)::before {
          content: "+";
          font-size: 16px;
        }
        &:last-child::before {
          content: "Свапнуто на";
          font-size: 13px;
        }
      }
    }

    /* MARK: card schedule
		*/

    &.schedule {
      border-radius: var(--radius-M);
      .info:has(> *:empty) > * {
        margin-bottom: unset !important;
      }
      .info .status {
        margin-top: auto;
      }
    }
  }
}

.page {
  width: 50%;
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: var(--padding-S);

  justify-content: left;
  align-items: flex-start;

  padding: var(--padding-M);
  box-sizing: border-box;

  h1 {
    all: unset;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-main);
  }
  p {
    all: unset;
    font-size: 16px;
    color: var(--text-color-main);
    a {
      text-decoration: underline;
    }
  }
}

/* MARK: mobile
*/

@media (pointer: coarse) {
  .window {
    top: 0;
    left: 0;
    height: 100vh;
    height: 100dvh;
    height: 100dvh;
    width: 100vw;
    max-height: 100vh;
    max-height: 100dvh;
    max-width: 100vw;
    padding-top: calc(var(--header) + var(--navigate));
    padding-bottom: calc(var(--footer) + var(--tabs));
    aspect-ratio: unset;
    background-color: var(--window-color);
    border-radius: unset;
    box-shadow: unset;
    filter: unset;
    .setup {
      display: none;
    }
    &::after {
      display: none;
    }

    .header {
      .element:first-child,
      .element:last-child {
        border-radius: var(--radius-S) var(--radius-S) var(--radius-S) var(--radius-S);
      }
    }

    .navigate button {
      opacity: 1;
    }

    .tabs {
      .section {
        opacity: 1;
      }
    }

    .content .cards .card {
      width: 100%;
    }

    .popup .project .content .season {
      .cards .card {
        width: 100%;
      }

      .episodes .episode {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--padding-S);
        min-width: unset;

        .group {
          &:first-child {
            align-items: center;
            .name {
              text-align: center;
            }
          }
        }
      }
    }

    .popup > .content:has(> iframe) {
      padding: 20px;
    }

    & > iframe {
      width: 100%;
    }
  }
  .page {
    width: 100%;
  }

  @media (orientation: landscape) {
    .window {
      display: none;
    }
    body::after {
      content: "Сайт не адаптирован под горизонтальный режим :(";
      color: var(--text-color-main);
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 24px;
      align-content: center;
    }
  }
}

/* MARK: keyframes
*/

@keyframes online {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
