/*
.card.order.user {
  --signature-color-1: none;
  --card-color: none;
  --tracking-color: none;
  --slot-color: none;
  .info {
    .name-ru {
    }
    .name-en {
    }
    .status {
    }
    .group {
      .favorite {
      }
    }
  }
  .slots {
    .slot {
			
          &.listed {
          }
          &.unlisted {
            & > * {
            }
          }
    }
  }
}*/

.card.order.user_Edwin {
  --signature-color-1: #32afc5;
  --signature-color-2: #d8c796;
  --signature-color-3: #2b2a31;
  --signature-color-4: #1a1e1f;
  --signature-color-5: #f6f3fb;
  --card-color: var(--signature-color-3);
  --tracking-color: transparent;
  --slot-color: transparent;

  border-radius: 0;
  background-image: url("https://static.tildacdn.com/tild3234-6262-4430-b266-383932363763/BG.webp");
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;

  .info {
    .name-ru,
    .name-en {
      color: var(--signature-color-5);
    }
    .status {
      color: var(--signature-color-2);
    }
    .group .favorite {
      color: var(--signature-color-1);
      &:hover {
        color: var(--signature-color-5);
      }
    }
  }
  .slots .slot {
    border-radius: 0;
    backdrop-filter: invert(0.9) grayscale(1);
    & > * {
      color: var(--signature-color-4);
    }

    &.listed {
      opacity: 1;
      backdrop-filter: invert(0.33) grayscale(1);
    }
    &.unlisted {
      opacity: 1;
      border: var(--border) var(--signature-color-4) dotted;
      backdrop-filter: invert(0.33) grayscale(1);
      & > * {
        color: var(--signature-color-4);
      }
    }
  }
}

.card.order.user_Katya {
  --signature-color-1: rgb(210, 100, 60);
  --card-color: var(--signature-color-1);
  --tracking-color: transparent;
  --slot-color: black;

  background-image: url("https://static.tildacdn.com/tild6362-3366-4633-b732-383930633530/BG.webp");
  background-position: right top;
  background-size: auto max(100%, 400px);
  .info {
    padding: 15px;
    width: fit-content;
    max-width: calc(75% - var(--padding-S));
    align-self: flex-start;
    background-color: rgba(210, 100, 60, 0.5);
    border-radius: unset;
    border-bottom-right-radius: var(--padding-L);

    .name-ru,
    .name-en {
      color: white;
      width: fit-content;
    }
    .status {
      color: black;
      text-align: start;
      width: fit-content;
    }
    .group .favorite {
      padding: unset;
      width: fit-content;

      max-width: 100%;
      &:hover {
        color: white;
      }
    }

    @media (pointer: coarse) {
      max-width: 100%;
      width: 100%;
      border-radius: unset;
      .name-ru,
      .name-en,
      .status {
        width: 100%;
        text-align: center;
      }
      .group .favorite {
        padding: unset;
        width: 100%;
      }
    }
  }
  .slots {
    width: 75%;
    align-self: flex-start;

    @media (pointer: coarse) {
      width: 100%;
    }
    .slot {
      background-color: var(--signature-color-1);
      border: var(--border) black solid;
      & > * {
        color: black;
      }
    }
  }
}

.card.order.user_Misty {
  --signature-color-1: #d5e3ae;
  --signature-color-2: #ac6d78;
  --signature-color-3: #797961;
  --signature-color-4: #ec996f;
  --signature-color-5: #ade7f5;
  --card-color: var(--signature-color-5);
  --tracking-color: transparent;
  --slot-color: var(--signature-color-2);

  border-radius: calc(var(--radius-S) + var(--padding-S));
  background-image: url("https://static.tildacdn.com/tild3337-3264-4066-a365-396139633435/BG.webp");
  background-position: top;
  background-position-x: 10%;
  background-size: cover;
  .info {
    margin-right: var(--padding-S);
    margin-top: var(--padding-S);
    width: calc(60% - (var(--padding-S) * 2));
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.66);
    @media (pointer: coarse) {
      margin-left: var(--padding-S);
      width: calc(100% - (var(--padding-S) * 2));
      align-self: center;
    }
    .name-ru,
    .name-en {
      color: whitesmoke;
    }
    .status {
      color: var(--signature-color-1);
    }
    .group .favorite {
      color: var(--signature-color-5);
      border-radius: var(--radius-L);
      &:hover {
        color: whitesmoke;
      }
    }
  }
  .slots {
    .slot {
      border-radius: var(--radius-L);
      width: calc(100% - (var(--padding-S) * 4));
      align-self: center;
      & > * {
        color: whitesmoke;
      }

      &.listed {
        opacity: 0.66;
      }
      &.unlisted {
        opacity: 0.66;
        background-color: var(--slot-color);
        border: var(--border) black dashed;
        & > * {
          color: black;
        }
      }
    }
  }
}

.card.order.user_Izida {
  --signature-color-1: #e5f9fb;
  --signature-color-2: #ffaba5;
  --signature-color-3: #133e64;
  --card-color: rgba(0, 0, 0, 0.7);
  --tracking-color: none;
  --slot-color: var(--signature-color-1);

  background-image: url("https://static.tildacdn.com/tild6536-6365-4363-b139-336432613437/BG.webp");
  background-position: center top;
  background-size: cover;
  background-blend-mode: multiply;
  .info {
    .name-ru,
    .name-en {
      color: white;
    }
    .status {
      color: var(--signature-color-1);
    }
    .group {
      .favorite {
        color: var(--signature-color-2);
        &:hover {
          color: white;
        }
      }
    }
  }
  .slots {
    .slot {
      border: 1px var(--signature-color-3) solid;
      & > * {
        color: var(--signature-color-3);
      }
      &.listed {
        background-color: var(--slot-color);
        & > * {
          color: var(--signature-color-3);
        }
      }
      &.unlisted {
        background-color: var(--slot-color);
        border: 4px var(--signature-color-3) double;
        & > * {
          color: var(--signature-color-3);
        }
      }
    }
  }
}
